@import '../styles/utils';

.text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    padding: 0.8em 0 1em 0;
    font-weight: bolder;

    &--small {
        font-size: 1em;
    }

    &--large {
        font-size: 1.8em;
    }

    &--larger {
        font-size: 4em;
        min-height: rem(74px);
    }
}
